body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: yellow;
    --color-background: #0ee3dd;
}

.button {
    color: white;
    background-color: var(--color-background);
    border: none;
    --button-padding: 0.5em;
    padding: var(--button-padding);
}

.eye {
    background-color: white;
    margin-right: var(--button-padding);
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("create-view-white.svg");
    mask-image: url("create-view-white.svg");
}

.label {
    position: relative;
    top: -2px;
}

.button:hover {
    color: var(--color-background);
    background-color: white;
}

.button:hover .eye {
    background-color: var(--color-background);
}
